body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer-article {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photographer-article__link {
  text-decoration: none;
}

.photographer-article__link--title {
  color: #d3573c;
  font-size: 36px;
  text-align: center;
  margin-bottom: 0px;
}

.photographer-article__link--img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #c4c4c4;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.photographer-article__descr {
  text-align: center;
  margin-top: 0px;
}

.photographer-article__descr--location {
  display: block;
  color: #901c1c;
}

.photographer-article__descr--tagline {
  display: block;
}

.photographer-article__descr--price {
  display: block;
  color: #525252;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
}

.photograph-header > div {
  margin: 50px;
}

.photograph-header__title {
  color: #d3573c;
}

.photograph-header__descr--location {
  display: block;
  color: #901c1c;
  font-size: 1.5em;
}

.photograph-header__descr--tagline {
  display: block;
  margin-top: 10px;
  color: #525252;
}

.photograph-header__img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #c4c4c4;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  color: black;
  background-color: #d3573c;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

#contact_modal {
  display: none;
  position: fixed;
  width: 1100px;
  top: 0px;
}

.photograph-content {
  margin-left: 100px;
  margin-top: 50px;
}

.photograph-content__medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photograph-content__search {
  width: 100%;
}

.photograph-content__search .btn-list-box {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.photograph-content__search button {
  width: 150px;
  height: 40px;
  display: block;
  background-color: #901c1c;
  color: white;
  border: none;
  text-align: left;
  font-weight: bold;
}

.photograph-content__search button i {
  position: relative;
  left: 50px;
}

.photograph-content__search button i.fa-chevron-up {
  display: none;
}

.photograph-content__search button:hover, .photograph-content__search button:focus {
  cursor: pointer;
  color: black;
  background-color: #d3573c;
}

.photograph-content__search button.photograph-content__search-container--fame {
  border-radius: 3px 3px 3px 3px;
}

.photograph-content__search button.photograph-content__search-container--date {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  -o-border-image: linear-gradient(to right, #901c1c 0% 5%, #f1f1f1 5%, #f1f1f1 95%, #901c1c 95% 100%) 1 stretch;
     border-image: -webkit-gradient(linear, left top, right top, from(#901c1c), color-stop(5%, #f1f1f1), color-stop(95%, #f1f1f1), color-stop(95%, #901c1c)) 1 stretch;
     border-image: linear-gradient(to right, #901c1c 0% 5%, #f1f1f1 5%, #f1f1f1 95%, #901c1c 95% 100%) 1 stretch;
}

.photograph-content__search button.photograph-content__search-container--title {
  border-top: 1px;
  border-radius: 0px 0px 3px 3px;
}

.photograph-content__search-container {
  width: 150px;
  height: 40px;
  display: inline-block;
}

.photograph-content__search-container:hover {
  height: 120px;
}

.photograph-content__search-container:hover > .photograph-content__search-container--fame {
  border-radius: 3px 3px 0px 0px;
}

.photograph-content__search-container:hover i.fa-chevron-up {
  display: inline;
}

.photograph-content__search-container:hover i.fa-chevron-down {
  display: none;
}

.photograph-content__search-container:hover .btn-list-box {
  display: block;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.photograph-content__search--title {
  width: 85px;
  position: relative;
  display: inline-block;
  bottom: 80px;
  font-weight: bold;
}

.photo {
  width: 350px;
}

.photo img {
  width: 350px;
  height: 350px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

.photo figcaption {
  color: #901c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo figcaption .photo__like {
  cursor: pointer;
}

.video {
  width: 350px;
}

.video video {
  width: 350px;
  height: 350px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

.video figcaption {
  color: #901c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video figcaption .photo__like {
  cursor: pointer;
}

#like-contain {
  background-color: #d3573c;
  position: fixed;
  bottom: 0px;
  right: 10px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px 3px 0px 0px;
}

#lightbox {
  left: calc((50vw - 50%) * -1);
  top: calc((50vh - 50%) * -1);
  -webkit-transform: translate(calc(50vw - 50%), calc(50vh - 50%));
          transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: none;
}

#lightbox .lightbox__container {
  width: 600px;
  height: 600px;
  margin: auto;
}

#lightbox .lightbox__container--img, #lightbox .lightbox__container--video {
  width: 600px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#lightbox .lightbox__container--title {
  color: #901c1c;
}

#lightbox .btn-left,
#lightbox .btn-right,
#lightbox .btn-close {
  font-size: 40px;
  width: 50px;
  height: 50px;
  background-color: white;
  border: none;
  position: absolute;
  cursor: pointer;
}

#lightbox .btn-left i,
#lightbox .btn-right i,
#lightbox .btn-close i {
  color: #901c1c;
}

#lightbox .btn-left {
  left: 20%;
  top: 47%;
}

#lightbox .btn-right {
  right: 20%;
  top: 47%;
}

#lightbox .btn-close {
  top: 7%;
  right: 25%;
}
/*# sourceMappingURL=main.css.map */