.photographer_section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px;
	margin-top: 100px;
}

.photographer-article {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__link {
		text-decoration: none;
		&--title {
			color: $color-primary;
			font-size: 36px;
			text-align: center;
			margin-bottom: 0px;
		}
		&--img {
			height: 200px;
			width: 200px;
			object-fit: cover;
			border-radius: 100%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			background: #c4c4c4;
			box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
		}
	}

	&__descr {
		text-align: center;
		margin-top: 0px;
		&--location {
			display: block;
			color: $color-tertiary;
		}
		&--tagline {
			display: block;
		}
		&--price {
			display: block;
			color: $color-secondary;
		}
	}
}

#contact_modal {
	display: none;
}

.photograph-header {
	background-color: #fafafa;
	height: 300px;
	margin: 0 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 50px;
	margin-left: 50px;
	& > div {
		margin: 50px;
	}
	&__title {
		color: $color-primary;
	}
	&__descr {
		&--location {
			display: block;
			color: $color-tertiary;
			font-size: 1.5em;
		}
		&--tagline {
			display: block;
			margin-top: 10px;
			color: $color-secondary;
		}
	}
	&__img {
		height: 200px;
		width: 200px;
		object-fit: cover;
		border-radius: 100%;

		margin-left: auto;
		margin-right: auto;
		background: #c4c4c4;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
	}
}
