$background-primary: #901c1c;
$background-secondary: #d3573c;
$background-tertiary: #fafafa;

$color-primary: #d3573c;
$color-secondary: #525252;
$color-tertiary: #901c1c;

$color-btn: black;
$color-li: white;
